@model BusinessLogicLayer.FactionBLL

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you ABSOLUTELY sure you want to delete this? This record will be permenantly deleted.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
      @if (User.IsInRole("Developer"))
      {
        <dt>
          @Html.DisplayNameFor(model => model.FactionID)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.FactionID)
        </dd>
      }
      else
      {
        @Html.HiddenFor(model => model.FactionID)
      }
      <dt>
        @Html.DisplayNameFor(model => model.FactionName)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.FactionName)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.BackGround)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.BackGround)
      </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
