@model IEnumerable<BusinessLogicLayer.FactionBLL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FactionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FactionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FactionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FactionID })
        </td>
    </tr>
}

</table>
