@model IEnumerable<BusinessLogicLayer.FactionBLL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @if (User.IsInRole("Developer") | User.IsInRole("Administrator") | User.IsInRole("Privateer Pressganger"))
  {
  @Html.ActionLink("Create New", "Create")
  }
</p>
<table class="table table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.FactionID)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FactionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.FactionID)
        </td>
        <td>
          @*@Html.DisplayFor(modelItem => item.FactionName)*@
          @Html.ActionLink(item.FactionName, "Details", "Factions", new { id = item.FactionID }, null)
        </td>
        <td>
          @if (User.IsInRole("Developer") | User.IsInRole("Administrator") | User.IsInRole("Privateer Pressganger"))
          {
            @Html.ActionLink("Edit", "Edit", new { id = item.FactionID })
            <raw> | </raw>
          }
          @Html.ActionLink("Details", "Details", new { id = item.FactionID })
          @if (User.IsInRole("Developer") | User.IsInRole("Administrator") | User.IsInRole("Privateer Pressganger"))
          {
            <raw> | </raw>
            @Html.ActionLink("Delete", "Delete", new { id = item.FactionID })
          }
        </td>
    </tr>
}

</table>
