@model BusinessLogicLayer.UserBLL

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you Absolutely sure you want to delete this?</h3>
<h4>All users armies will also be removed.</h4>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
      @if (User.IsInRole("Developer"))
      {
        <dt>
          @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.UserID)
        </dd>
      }
      else
      {
        @Html.HiddenFor(model => model.UserID)

      }

      <dt>
        @Html.DisplayNameFor(model => model.UserName)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.UserName)
      </dd>
      @if (User.IsInRole("Developer"))
      {
        <br/>
        <dd>
          <raw>\/ These fields are not hidden for this Demonstration.\/</raw>
        </dd>

        <dt>
          @Html.DisplayNameFor(model => model.Hash)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.Hash)
        </dd>

        <dt>
          @Html.DisplayNameFor(model => model.Salt)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.Salt)
        </dd>
        <dd>
          <raw>/\ These fields are not hidden for this Demonstration./\</raw>
        </dd>
          <br/>

          }
          else
          {
          @Html.HiddenFor(model => model.Hash)
          @Html.HiddenFor(model => model.Salt)

          }

        <dt>
          @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
          @Html.DisplayNameFor(model => model.RoleID)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.RoleID)
        </dd>

        <dt>
          @Html.DisplayNameFor(model => model.Rolename)
        </dt>

        <dd>
          @Html.DisplayFor(model => model.Rolename)
        </dd>

      </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
