@{
    ViewBag.Title = "Warcaster Pub";
}

  @*<div class="jumbotron">*@
  <br/>
    <img src="~/Content/Images/Front.jpg" />
    
  @*</div>*@
  <div>
  <br/>
  <br/>
  </div>
<div class="row">
  <div class="col-md-4">
    <a href='@Url.Action("Details","Factions", new { id = 1 })'>
      <img src='@Url.Content($"~/Content/pics/Cygnar.jpg")' /></a>
      @*<img src="~/Content/pics/Cygnar.jpg" />*@
  </div>
  <div class="col-md-4">
    <a href='@Url.Action("Details","Factions", new { id = 3 })'>
      <img src='@Url.Content($"~/Content/pics/Khador.jpg")' /></a>
      @*<img src="~/Content/pics/Khador.jpg" />*@
  </div>
  <div class="col-md-4">
    <a href='@Url.Action("Details","Factions", new { id = 6 })'>
      <img src='@Url.Content($"~/Content/pics/Magnus.jpg")' /> </a>
    @*<img src="~/Content/pics/Magnus.jpg" />*@
  </div>
</div>