@model BusinessLogicLayer.RoleBLL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>*@

        <dd>
            @Html.HiddenFor(model => model.RoleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>
</div>
<p>
  @if (User.IsInRole("Developer"))
  {
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleID }) 
  <raw> | </raw>
  }
  @Html.ActionLink("Back to List", "Index")
</p>
