@model IEnumerable<BusinessLogicLayer.RoleBLL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @if (User.IsInRole("Developer"))
  {
    @Html.ActionLink("Create New", "Create")
  }
  </p>
<table class="table table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.RoleID)*@
        </th>
        <th>
          @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.RoleID)
        </td>
        <td>
          @*@Html.DisplayFor(modelItem => item.RoleName)*@
          @Html.ActionLink(item.RoleName, "Details", new { id = item.RoleID })
        </td>
        <td>
          @if (User.IsInRole("Developer"))
          {
            @Html.ActionLink("Edit", "Edit", new { id = item.RoleID })
            @Html.Raw(" | ")
          }
          @Html.ActionLink("Details", "Details", new { id = item.RoleID })
          @if (User.IsInRole("Developer"))
          {
            @Html.Raw(" | ")
            @Html.ActionLink("Delete", "Delete", new { id = item.RoleID })
          }

        </td>
    </tr>
}

</table>
